.container {
    display: flex;
    flex-direction: column;
}

.steps {
    display: flex;
    flex-direction: row;
}

.steps > i{
    display: flex;
    align-items: center;
}

.step {
    padding: 10px 20px;
    margin: 5px;
    background-color: #bdbdbd;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.step.active {
    background-color: #007bff;
    color: #fff;
}

.content {
    margin: 5px;
}

.step-content {
    display: none;
}

.step-content.active {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 15px;
    box-shadow: 0px 0px 10px 1px #9d9d9d;
}


/* INPUT */
.input-container {
    position: relative;
    margin: 15px 0px;
}

/* Styles pour les input */
input,
select {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
}

input:focus,
select:focus {
    border-bottom: 2px solid #007bff;
}

label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #777;
    transition: top 0.3s, font-size 0.3s, color 0.3s;
}

input:focus + label,
input:not(:placeholder-shown) + label,
select:focus + label,
select:not([value=""]) + label {
    top: -10px;
    font-size: 12px;
    color: #007bff;
}

.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #007bff;
    transform: scaleX(0);
    transition: transform 0.3s;
}

input:focus ~ .underline,
select:focus ~ .underline {
    transform: scaleX(1);
}

/* Styles pour le conteneur personnalisé */
.custom-select {
    position: relative;
    width: 100%;
}

/* Styles pour le menu déroulant personnalisé */
.custom-select select {
    display: none; /* Masquer le menu déroulant natif */
}

/* Styles pour le conteneur du menu déroulant */
.select-styled {
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    cursor: pointer;
}

/* Styles pour la flèche */
.select-styled:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #777 transparent transparent transparent;
    transform: translateY(-50%);
}

/* Styles pour les options */
.select-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 999;
    display: none;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

/* Afficher les options au survol */
.custom-select:hover .select-options {
    display: block;
    cursor: pointer;
}

/* Styliser les options */
.select-options option {
    padding: 5px 10px;
}

/* Styliser les options au survol */
.select-options option:hover {
    background-color: #f0f0f0;
}


/* Button */
.button-block{
    display: flex;
    justify-content: space-between;
}

.custom-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-button:hover {
    background-color: #0056b3;
}

.cancel{
    background-color: rgb(202, 0, 0);
}

.disable{
    background-color: rgb(109, 109, 109);
}


/* TBL */
.action-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.action-table th, .action-table td {
    border: 1px solid #ddd;
    padding: 5px 10px;;
}

.action-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.action-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.action-table tbody tr:hover {
    background-color: #ddd;
}

.statut-site{
    width: 230px;
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0px 0px 0px 0px rgba(202, 131, 0, 0.6);
    transition: 0.3s;
}

.fa-spinner{
    animation: rotate 2s linear infinite;
}

/* KEYFRAME */

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}