.maintenance-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.maintenance-content {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    color: #e44d26; /* Couleur orange */
}

p {
    color: #333;
    margin-bottom: 20px;
}
