.checkApi{
    position: absolute;
    top: 75px;
    left: 5px;
    width: 300px;
    height: 75px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.loadPopsIco{
    width: 100px;
}

.loadPopsIco > i{
    font-size: 30px;
}

.loadText{
    width: 200px;
    padding: 0px 10px;
}

.pointerClick{
    cursor: pointer;
}

/* LOAD */
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}