body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

#MenuLUMA{
    top: 70px;
}

#menu-luma .bar {
    background-color: #333;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    color: #0059ace3;
    /* Rouge YouTube */
}

#logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


#profileIcon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

#profileMenu {
    position: absolute;
    background-color: #333;
    color: #333;
    list-style: none;
    padding: 15px 20px;
    border-radius: 10px;
    display: none;
    margin: 0;
    top: 80px;
    right: 15px;
    z-index: 99;
}

#profileMenu>i {
    position: absolute;
    right: 15px;
    top: -10px;
}

#profileMenu li {
    margin: 5px 0px;
}

#profileMenu a {
    text-decoration: none;
    color: #fff;
}

main {
    max-width: 1200px;
    margin: 20px auto 30px auto;
    padding: 0px;
}

.video-bloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    max-width: 1200px;
    margin: 20px auto 30px auto;
    padding: 0px;
}

.blur {
    filter: blur(4px);
}

.video {
    width: 350px;
    height: 275px;
    background-color: #fff;
    margin: 10px auto 10px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: 0.3s;
}

/* WAIT NINO */
.timer-dispo {
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.timer {
    color: #0278ff;
    font-weight: bold;
}

/* ---------- */

.video:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    transition: 0.3s;
}

.video img {
    width: 100%;
    height: 200px;
}

.video-info {
    padding: 15px;
    flex-grow: 1;
}

.video-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.video-description {
    font-size: 14px;
    color: #666;
}

.subscribe-button {
    background-color: #ff0000;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* NINO ADD */

table {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 90%;
    margin: 10px auto auto auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    background-color: #ff0000;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* PLAYER */

.video-container {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

video {
    width: 100%;
    display: block;
    object-fit: contain;
    max-height: 400px;
}

.video-info {
    padding: 20px;
}

h1 {
    margin-top: 0;
}

.like-buttons {
    margin-top: 10px;
}

.like-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    margin-right: 10px;
}

.video-list {
    margin-top: 20px;
}

.video-list-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.video-list-item img {
    width: 80px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
}

.video-list-item h3 {
    margin: 0;
}

/* GENERIQUE */
h1 {
    text-align: center;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
    color: #fff;
}

form {
    margin: 10px auto auto auto;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    width: 300px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input,
textarea,
select,
p.input_text {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: solid 1px;
    font-size: 12px;
}

select option {
    padding: 10px;
}

button {
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0px;
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}