doctype html
html
  head
    title #{title}
  body
    h1 Configuration manquante
    p Le fichier de configuration est manquant. Veuillez créer <code>config/mongodb.json</code> avec les informations nécessaires.
    pre
      code
        | {
        |   "mongoURI": "mongodb://localhost:27017/mon-site-nodejs",
        |   "secretOrKey": "nop"
        | }
    p
      a(href="/") Retour à la page d'accueil
