doctype html
html
  head
    title= title
  body
    h1= message
    p Bienvenue sur la page d'accueil. Visitez les applications:
    ul
      li: a(href='/config') Application 1 (Config)
      li: a(href='#') Non disponible (Luma)
