/* MENU */
#menu-nino {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: #FFF;
    margin: 0px 10px;
    position: fixed;
    top: 15px;
    left: 10px;
}

#menu-nino .bar {
    background-color: #ffffff;
    height: 2px;
    width: 30px;
    margin: 3px 0;
    padding: 2px;
    transition: transform 0.3s ease;
}

#menu-nino.ferme .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-7px, 7px);
}

#menu-nino.ferme .bar:nth-child(2) {
    opacity: 0;
}

#menu-nino.ferme .bar:nth-child(3) {
    transform: rotate(45deg) translate(-7px, -7px);
}

#MenuNINO {
    width: 175px;
    height: 100%;
    display: none;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgba(0, 43, 65, 1);
    position: fixed;
    left: 0;
    top: 60px;
    text-align: center;
    font-size: 12px;
    z-index: 99;
}

h4 {
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0px;
    padding: 10px 0px;
}

.block-url {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.block-url:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s;
}

.block-url>img {
    width: 30px;
    height: 30px;
    margin: 0px 15px;
}

.block-url>i {
    margin: 0px 15px;
    font-size: 20px;
    color: #FFF;
}

.block-url>p {
    display: flex;
    text-align: left;
    color: #FFF;
}