doctype html
html
  head
    title Inscription
  body
    h1 Inscription
    form(action="/app2/auth/register" method="POST")
      label(for="username") Nom d'utilisateur:
      input(type="text" name="username" required)
      br
      label(for="password") Mot de passe:
      input(type="password" name="password" required)
      br
      button(type="submit") S'inscrire
    p
      a(href="/app2/login") Déjà inscrit? Connexion
